//start_{{data['modelName']}}_start
        \{{data['paths']['listener']}}\{{data['modelName']}}EventListener::class,
        //end_{{data['modelName']}}_end

        // Do not delete me :) I'm used for auto-generation
