 //start_{{data['modelName']}}_start
    '{{data['tableName']}}' => [
            'title'   => '{{data['title']}}'
    ],
    //end_{{data['modelName']}}_end
// Do not delete me :) I'm used for auto-generation
