    ,
    //start_{{data['modelName']}}_start
        '{{data['modelDotNotation']}}' => [
                'saved' => '{{data['modelBaseName']}} saved successfully.',
                'updated' => '{{data['modelBaseName']}} updated successfully.',
                'deleted' => '{{data['modelBaseName']}} deleted successfully.'
        ]
        //end_{{data['modelName']}}_end

        // Do not delete me :) I'm used for auto-generation