   ,
   //start_{{data['modelName']}}_start
        '{{data['tableName']}}'  => [{%for col in data['columns'] %}
            '{{ col['name'] }}' => "{{ col['title'] }}",{%endfor%}
        ]
        //end_{{data['modelName']}}_end
// Do not delete me :) I'm used for auto-generation