    ,
     //start_{{data['modelName']}}_start
            '{{data['tableName']}}' => [
                        'view'        => 'View {{data['modelBaseName']}}',
                        'all'        => 'All {{data['title']}}',
                        'create'     => 'Create {{data['modelBaseName']}}',
                        'edit'       => 'Edit {{data['modelBaseName']}}',
                        'management' => '{{data['modelBaseName']}} Management',
                        'main'       => '{{data['title']}}',
            ]
             //end_{{data['modelName']}}_end

            // Do not delete me :) I'm used for auto-generation