<?php
     namespace {{data['paths']['repository']}};;

    use {{data['paths']['model']}}\{{data['modelName']}};
    use App\Repositories\BaseRepository;
    use Prettus\Repository\Contracts\CacheableInterface;
    use Prettus\Repository\Traits\CacheableRepository;

    class {{data['modelName']}}Repository  extends BaseRepository implements CacheableInterface
    {
    use CacheableRepository;

    protected  $defaultOrderBy ='id';
    protected  $defaultSortBy = 'asc';
    {% if data['count'](data['searchable'])%}
    protected $fieldSearchable  = [{% for s in data['searchable'] %}
        "{{ s }}",{% endfor %}
    ];
    {% endif%}

    /**
    * Configure the Model
    **/
    public function model()
    {
      return {{data['modelName']}}::class;
    }

    public function getPaginated($paged = 25,$condions_array=null)
    {
        if($condions_array)
        {
            return $this->model
            ->where($condions_array)
            ->paginate($paged);
        }
        return $this->model
        ->paginate($paged);
    }

 }
