<?php

use Illuminate\Support\Facades\Schema;
use Illuminate\Database\Schema\Blueprint;
use Illuminate\Database\Migrations\Migration;

class Create{{data['migrateName']}}Table extends Migration
{
    /**
    * Run the migrations.
    *
    * @return void
    */

    public function up()
    {
        Schema::create('{{data['tableName']}}', function (Blueprint $table) {
        {% for item in data['deleted_fields'] %}
        $table->dropColumn('{{item["name"]}}');{%endfor%}
       {% for item in data['added_fields'] %} {% if item['name']=="id" or item['name']=="Id"  %}
            $table->{{item['dbtype']}}('id'); {% elif item['dbtype']=="enum" %}
            $table->{{item['dbtype']}}('{{item['name']}}',[{% for key,el in item['selected_data'].items()%}  '{{key}}',{% endfor %}]){% if item['serverStoreRules']['required']!="required"%}->nullable(){% endif %} {% if 'default' in item %}{% if item['dbtype']=="string"%}->default('{{item['default']}}'){%else%}->default({{item['default']}}){% endif %}{% endif %} ; {% elif item['dbtype']=="rememberToken"  %}
            $table->rememberToken(); {% else %}
            $table->{{item['dbtype']}}('{{item['name']}}'{%for extra_value in item['extraDbValues']%},{{extra_value}}{%endfor%}){% if item['serverStoreRules']['required']!="required"%}->nullable(){% endif %}  {% if 'default' in item %}{% if item['dbtype']=="string"%}->default('{{item['default']}}'){%else%}->default({{item['default']}}){% endif %}{% endif %} ; {% endif %} {% endfor %}

       {% for item in data['updated_fields'] %} {% if item['name']=="id" or item['name']=="Id"  %}
            $table->{{item['dbtype']}}('id'); {% elif item['dbtype']=="enum" %}
            $table->{{item['dbtype']}}('{{item['name']}}',[{% for key,el in item['selected_data'].items()%}  '{{key}}',{% endfor %}]){% if item['serverStoreRules']['required']!="required"%}->nullable(){% endif %} {% if 'default' in item %}{% if item['dbtype']=="string"%}->default('{{item['default']}}'){%else%}->default({{item['default']}}){% endif %}{% endif %} ; {% elif item['dbtype']=="rememberToken"  %}
            $table->rememberToken(); {% else %}
            $table->{{item['dbtype']}}('{{item['name']}}'{%for extra_value in item['extraDbValues']%},{{extra_value}}{%endfor%}){% if item['serverStoreRules']['required']!="required"%}->nullable(){% endif %}  {% if 'default' in item %}{% if item['dbtype']=="string"%}->default('{{item['default']}}'){%else%}->default({{item['default']}}){% endif %}{% endif %} ->change(); {% endif %} {% endfor %}
     });
    }
    /**
    * Reverse the migrations.
    *
    * @return void
    */
    public function down()
    {
         Schema::dropIfExists('{{data['tableName']}}', function($table) {
             {% for item in data['deleted_fields'] %}
        $table->{{item["type"]}}('{{item["name"]}}');
        {%endfor%}

        });
    }

}


